@import "tailwindcss";

body {
    font-family: "Roboto", sans-serif;

}

.navbar_btn {
    @apply flex border border-[#7cc6fe] text-[#7cc6fe] gap-x-1 px-2.5 py-1.5 rounded-xl font-bold cursor-pointer;
}

.navbar_btn:hover {
    @apply bg-[#7cc6fe] text-black;
}

.social-icon i {
    @apply size-12 border border-[#7cc6fe] flex justify-center items-center rounded-lg text-3xl text-[#7cc6fe]
}

.social-icon i:hover {
    @apply bg-[#7cc6fe] text-black cursor-pointer;
}


.hero-img img {
    animation: logoslide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes logoslide {
    from {}

    to {
        transform: translateX(15px);
    }
}